#about-wrapper {
    height: 100%;
    overflow: hidden;

    & > nav {
      height:400px;
      width: 60px;
      position: absolute;
      z-index: 4;
      left: 0;
      //display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      box-sizing: border-box;

      #hexagon {
      	width: 50px;
      	height: 55px;
      	background: red;
      	position: relative;
      }
      #hexagon:before {
      	content: "";
      	position: absolute;
      	top: -20px;
      	left: 0;
      	width: 0;
      	height: 0;
      	border-left: 20px solid transparent;
      	border-right: 20px solid transparent;
      	border-bottom: 15px solid red;
      }
      #hexagon:after {
      	content: "";
      	position: absolute;
      	bottom: -20px;
      	left: 0;
      	width: 0;
      	height: 0;
      	border-left: 20px solid transparent;
      	border-right: 20px solid transparent;
      	border-top: 15px solid red;
      }

      & > div {
        align-items: center;
        justify-content: center;
        width:60px;
        height:60px;
        overflow:hidden;
        color:white;
        //border-radius: 50%;

        & .diamond {
            height: 71%;
            width: 71%;
            background: #fff;
            transform: rotateZ(45deg);
            margin: 0 auto;
            top: 8px;
            position: relative;

        }
        &.about-nav {

          &.active {
            filter: drop-shadow(2px -2px 2px #476fa7) drop-shadow(-2px 2px 2px #f47522);
            overflow: visible;
          }
        }
      }
    }

    & > .about-page {
      height: 100%;
      width: 100%;
      background-color:#6c6c6c;
      padding: 100px;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 0.5s ease;
      position: absolute;
      top: 0;
      overflow-y:auto;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

}
