@records-color: #476fa7;
@records-name-color: #c6c6c6;

#ladder-wrapper {

    height: calc(~'100% - 90px');
    top: 90px;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.main-wrapper {
  color: #818f86;
    & > div {
        transition: @transition;
        //width: 80%;
        //max-width:600px;
        //margin: 0 auto;
        display: block;
        padding:0;
        @media @smartphones {
            width: 90%;
            transition: @transition;
        }
    }

	ul#ladder-records {
		text-align: center;
    font-family: @main-font-family;
    color: @records-color;
    margin-bottom: @margin-bottom;
    width: 86%;
    box-sizing: border-box;

    @media @smartphones {
        width: 90%;
        padding-left: 0;
    }

    li {
      background-color: #fff;
    }

		li:first-child {
			margin-top:0
		}

		.flex-parent {
			display: flex;
		}

		.records-column-main {
			flex: 1;
		}

		.records-column-alt {
			display: flex;
			flex: 1;
		}

		.records-column {
			flex: 1;
		}

		.player {
			padding: 5px;
			margin: 2px;
		}

		.name {
			a {
				text-decoration: none;
				color: @records-color;
			}
		}

		.records-highlight {
			color: #f47522;
		}
	}
}
