.ladder-table {
	margin: 50px auto;
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	tr {
		display: table-row;
		td {
			text-align: center;
			border-bottom: 1px solid @dotpRed;
    	vertical-align: middle;
		}
	}
	th {
    border-bottom: 1px solid @dotpRed;
    vertical-align: middle;
    text-align: center;
    font-size: 1.75em;
    @media @smartphones {
    	font-size: 1.25em;
    }
	}

	tbody {
		font-size: 1.25em;
		@media @smartphones {
			font-size: 1em;
		}
		td {
			padding: 10px;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
		}
		tr {
			&:nth-child(odd) {
				background: @dotpOutline;
			}
			&:last-child {
				display: none;
			}
		}
		a {
			text-decoration: none;
		}
	}
}

.ladder-content {
	width: 80%;
	margin: 0 auto;
	a {
		color: white;
		&:hover {
			color: @dotpRed;
		}
	}
}

