.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  background: #12191F;
  background-image: url("../images/txture.png"), radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  height: 100%;
  font-family: 'Constantia, Arial, sans-serif';
  width: 100%;
  position: fixed;
}
#content-main {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header {
  height: 50px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#title-bar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 20;
}
#title-bar nav {
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
  height: 100%;
}
#title-bar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  position: relative;
  display: flex;
  -webkit-box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  -moz-box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
}
#title-bar nav ul li {
  flex: 1;
  position: relative;
  font-size: 1em;
  text-shadow: -1px 2px 3px #000000;
  text-transform: uppercase;
  border-right: 1px solid #000000;
  border-left: 1px solid #5f5f67;
  border-bottom: 1px solid #5f5f67;
  transform: skewx(-20deg);
  transition: background .2s ease, color .2s ease;
  letter-spacing: .1em;
}
#title-bar nav ul li:first-child {
  flex-grow: 3;
  border-left: none;
  position: relative;
  min-width: 295px;
}
#title-bar nav ul li:first-child header {
  position: absolute;
  width: 150px;
  height: 65px;
  left: 0;
  right: 80px;
  margin: auto;
  display: flex;
  transform: skewx(20deg);
}
#title-bar nav ul li:first-child header div {
  background: #222225;
}
#title-bar nav ul li:first-child header .left-stone {
  flex: 1;
  position: absolute;
  left: 0;
  width: 25px;
  height: 85%;
  transform: skewx(15deg);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background-image: url("../images/txture.png"), linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-linear-gradient(left, #3B4D59, #12191F);
}
#title-bar nav ul li:first-child header .right-stone {
  flex: 1;
  position: absolute;
  right: 0;
  width: 25px;
  height: 85%;
  transform: skewx(-15deg);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: #12191F;
  background-image: url("../images/txture.png"), linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-linear-gradient(right, #3B4D59, #12191F);
}
#title-bar nav ul li:first-child header .center-stone {
  position: absolute;
  width: 110px;
  left: 0;
  right: 0;
  margin: auto;
  height: 95%;
  display: flex;
  background: transparent;
  background-image: url("../images/txture.png"), radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-radial-gradient(center center, circle cover, #3B4D59, #12191F);
}
#title-bar nav ul li:first-child header .center-stone .center-left {
  flex: 1;
  transform: skewx(5deg);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: none;
}
#title-bar nav ul li:first-child header .center-stone .center-right {
  flex: 1;
  transform: skewx(-5deg);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: none;
}
#title-bar nav ul li:first-child header .center-stone a {
  position: absolute;
  padding: 10px!important;
  left: 10px;
  top: 6px;
}
#title-bar nav ul li:first-child header .center-stone .logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 6px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 568px) {
  #title-bar nav ul li:first-child header .center-stone .logo {
    transition: all 0.2s ease-in-out;
    width: 60px;
    height: 60px;
    top: -5px;
    left: 14px;
  }
}
#title-bar nav ul li:first-child span {
  text-align: right;
}
#title-bar nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}
#title-bar nav ul .dotpeeps {
  width: 28%;
  float: right;
}
#title-bar nav ul .active {
  -webkit-box-shadow: inset 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  -moz-box-shadow: inset 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  box-shadow: inset 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
}
#title-bar nav ul .action-wrapper {
  flex-grow: 4;
  border-right: none;
}
#title-bar nav ul span {
  display: block;
  font-family: 'Constantia, Arial, sans-serif';
  color: #9DA4AA;
  transform: skewx(20deg);
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#title-bar nav ul span:hover {
  transition: all 0.2s ease-in-out;
  color: #fff;
}
#title-bar nav ul .action-wrapper {
  z-index: 20;
}
#title-bar nav ul .action-wrapper .power {
  transform: skewx(20deg);
  width: 50px;
  height: 100%;
  float: right;
  background: #26090B;
}
#title-bar nav ul .action-wrapper .power:hover {
  cursor: pointer;
}
#title-bar nav ul .action-wrapper .power .fa-power-off:before {
  background: #B95B2A;
  border-radius: 50%;
  color: #000;
  padding: 3px;
  text-shadow: none;
  position: absolute;
  left: 1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}
#title-bar nav ul .action-wrapper .hidden-login {
  display: none;
  position: absolute;
  top: 50px;
  transform: skewx(20deg);
  right: -18px;
  width: 200px;
  background: #26090B;
}
#title-bar nav ul .action-wrapper .hidden-login a span {
  transform: none!important;
}
#title-bar nav ul .action-wrapper .show-login {
  display: block!important;
}
.main-wrapper ul {
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 568px) {
  .main-wrapper ul {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}
.main-wrapper ul li {
  position: relative;
}
.main-wrapper ul li:first-child {
  margin-top: 40px;
}
.main-wrapper ul li:last-child {
  margin-bottom: 130px;
}
.main-wrapper ul li .podcast-container {
  color: #9DA4AA;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: #101116;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.main-wrapper ul li .podcast-container:before,
.main-wrapper ul li .podcast-container:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F5F67), to(transparent));
  background-image: -webkit-linear-gradient(#5F5F67, transparent);
  background-image: -moz-linear-gradient(#5F5F67, transparent);
  background-image: -o-linear-gradient(#5F5F67, transparent);
  background-image: linear-gradient(#5F5F67, transparent);
  top: -1px;
  bottom: -1px;
  width: 1px;
}
.main-wrapper ul li .podcast-container:before {
  left: -1px;
}
.main-wrapper ul li .podcast-container:after {
  right: 0;
  top: -1px;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F5F67), to(transparent));
  background-image: -webkit-linear-gradient(to right, #5F5F67, transparent);
  background-image: -moz-linear-gradient(to right, #5F5F67, transparent);
  background-image: -o-linear-gradient(to right, #5F5F67, transparent);
  background-image: linear-gradient(to right, #5F5F67, transparent);
}
.main-wrapper ul li .podcast-container .publish-date {
  color: #ffffff;
  padding: 10px;
  background: #101116;
  opacity: 0.3;
  -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
  -moz-box-shadow: inset 0px 0px 10px 0px #000000;
  box-shadow: inset 0px 0px 10px 0px #000000;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #777777;
}
.main-wrapper ul li .podcast-container .episode-image img {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid #565656;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.main-wrapper ul li .podcast-container h2 {
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.main-wrapper ul li .podcast-container h2:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}
.main-wrapper ul li .podcast-container h2 a {
  text-decoration: none;
  color: inherit;
  color: #ffffff;
}
.main-wrapper ul li .podcast-summary {
  color: #9DA4AA;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
  -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
  -moz-box-shadow: inset 0px 0px 10px 0px #000000;
  box-shadow: inset 0px 0px 10px 0px #000000;
  padding: 20px;
  position: relative;
}
.main-wrapper ul li .podcast-summary p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.main-wrapper ul li .podcast-actions {
  color: #ffffff;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: #101116;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.main-wrapper ul li .podcast-actions .play-text,
.main-wrapper ul li .podcast-actions .share-text,
.main-wrapper ul li .podcast-actions .dl-text {
  opacity: 0;
}
.main-wrapper ul li .podcast-actions .play-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #000000;
  border-left: 1px solid #5c5c5c;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .play-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .play-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .play-control:hover .play-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .play-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .download-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .download-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .download-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .download-control:hover .dl-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .download-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .share-control {
  padding: 20px;
  flex: 1;
  position: relative;
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .share-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .share-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .share-control:hover .share-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .share-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper #paging {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 17px);
  height: 50px;
  background: #101116;
  border-top: 1px solid #5F5F67;
  display: flex;
  background-image: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.main-wrapper #paging div a {
  text-decoration: none;
  color: #ffffff;
}
.main-wrapper #paging div a i {
  position: absolute;
}
.main-wrapper #paging #prev {
  position: relative;
  flex: 1;
  text-align: right;
}
.main-wrapper #paging #prev:hover .prev-text {
  margin-left: -40px;
  transition: all 0.2s ease-in-out;
}
.main-wrapper #paging #prev:hover i {
  right: 15px;
  transition: all 0.2s ease-in-out;
}
.main-wrapper #paging #prev .prev-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: -30px;
}
.main-wrapper #paging #prev i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  right: 5px;
}
.main-wrapper #paging #next {
  position: relative;
  flex: 1;
  text-align: left;
}
.main-wrapper #paging #next:hover .next-text {
  margin-left: 40px;
  transition: all 0.2s ease-in-out;
}
.main-wrapper #paging #next:hover i {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.main-wrapper #paging #next .next-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: 30px;
}
.main-wrapper #paging #next i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  left: 5px;
}
