@keyframes right-bump {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes left-bump {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 10px;
  }
  100% {
    margin-right: 0;
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  background: #12191F;
  background-image: url("../images/txture.png"), radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  height: 100%;
  font-family: 'Constantia, Arial, sans-serif';
  width: 100%;
  position: fixed;
}
#content-main {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header {
  height: 50px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media only screen and (max-width: 830px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#title-bar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
}
#title-bar .nav.collapsed {
  min-width: 330px;
}
#title-bar .nav.collapsed li:not(:first-child) {
  display: none;
}
#title-bar .nav.collapsed li:last-child {
  display: inherit;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewX(0);
  height: 100%;
  border-bottom: none;
}
#title-bar .nav.collapsed li:last-child .power {
  transform: skewX(0);
}
#title-bar .nav.collapsed li:first-child {
  min-width: 555px;
}
#title-bar .nav.collapsed li:first-child header {
  right: inherit;
  left: 8px;
}
#title-bar .nav.collapsed .dotpeeps {
  width: 70%;
}
#title-bar .collapsed-nav.is-showing-nav {
  width: 100%;
  right: 0;
  transition: all 0.2s ease-in-out;
}
#title-bar .collapsed-nav.is-showing-nav li {
  flex: 1;
  font-size: 1em;
  text-shadow: -1px 2px 3px #000000;
  text-transform: uppercase;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  transition: background .2s ease, color .2s ease;
  letter-spacing: .1em;
  position: relative;
}
#title-bar .collapsed-nav.is-showing-nav li a {
  display: block;
  text-decoration: none;
  color: #9DA4AA;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
#title-bar .collapsed-nav.is-showing-nav li a:hover {
  cursor: pointer;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
#title-bar .collapsed-nav.is-showing-nav li a span {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#title-bar .collapsed-nav.is-showing-nav .power {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}
#title-bar .collapsed-nav {
  transition: all 0.2s ease-in-out;
  width: 0%;
  height: calc(100% - 50px);
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  top: 50px;
  background-image: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
#title-bar nav {
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
  height: 100%;
}
#title-bar nav .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  position: relative;
  display: flex;
  -webkit-box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  -moz-box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
  box-shadow: 0px 10px 24px -1px rgba(8, 13, 19, 0.8);
}
#title-bar nav .nav li {
  flex: 1;
  position: relative;
  font-size: 1em;
  text-shadow: -1px 2px 3px #000000;
  text-transform: uppercase;
  border-right: 1px solid #000000;
  border-left: 1px solid #5f5f67;
  border-bottom: 1px solid #5f5f67;
  transform: skewx(-20deg);
  transition: background .2s ease, color .2s ease;
  letter-spacing: .1em;
}
#title-bar nav .nav li:first-child {
  flex-grow: 3;
  border-left: none;
  position: relative;
  min-width: 295px;
}
#title-bar nav .nav li:first-child header {
  position: absolute;
  width: 150px;
  height: 65px;
  left: 0;
  right: 120px;
  margin: auto;
  display: flex;
  transform: skewx(20deg);
}
#title-bar nav .nav li:first-child header div {
  background: #222225;
}
#title-bar nav .nav li:first-child header .left-stone {
  flex: 1;
  position: absolute;
  left: 8px;
  width: 25px;
  height: 85%;
  transform: skewx(15deg);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background-image: url("../images/txture.png"), linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-linear-gradient(left, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-linear-gradient(left, #3B4D59, #12191F);
}
#title-bar nav .nav li:first-child header .right-stone {
  flex: 1;
  position: absolute;
  right: 8px;
  width: 25px;
  height: 85%;
  transform: skewx(-15deg);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: #12191F;
  background-image: url("../images/txture.png"), linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-linear-gradient(right, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-linear-gradient(right, #3B4D59, #12191F);
}
#title-bar nav .nav li:first-child header .center-stone {
  position: absolute;
  width: 95px;
  left: 0;
  right: 0;
  margin: auto;
  height: 95%;
  display: flex;
  background: transparent;
  background-image: url("../images/txture.png"), radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -o-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -ms-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -moz-radial-gradient(center center, circle cover, #3B4D59, #12191F);
  background-image: url("../images/txture.png"), -webkit-radial-gradient(center center, circle cover, #3B4D59, #12191F);
}
#title-bar nav .nav li:first-child header .center-stone .center-left {
  flex: 1;
  transform: skewx(5deg);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: none;
}
#title-bar nav .nav li:first-child header .center-stone .center-right {
  flex: 1;
  transform: skewx(-5deg);
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
  background: none;
}
#title-bar nav .nav li:first-child header .center-stone a {
  position: absolute;
  padding: 10px!important;
  left: 10px;
  top: 6px;
}
#title-bar nav .nav li:first-child header .center-stone .logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -6px;
  left: 6px;
}
#title-bar nav .nav li:first-child span {
  text-align: right;
}
#title-bar nav .nav li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}
#title-bar nav .nav .dotpeeps {
  width: 42%;
  float: right;
  padding: .3em;
}
#title-bar nav .nav .dotpeeps:hover {
  cursor: default;
}
#title-bar nav .nav .dotpeeps span:hover {
  transition: none;
}
#title-bar nav .nav .dotpeeps .defense {
  text-align: left;
  color: #fff;
}
#title-bar nav .nav .dotpeeps .small-header {
  position: absolute;
  font-size: 8px;
}
#title-bar nav .nav .dotpeeps .small-header span {
  text-align: left!important;
  color: #fff;
}
#title-bar nav .nav .dotpeeps .patience {
  font-size: 1.1em;
  text-align: left;
  padding-left: 21px;
  color: #fff;
}
#title-bar nav .nav .active {
  -webkit-box-shadow: inset 0px 18px 24px -1px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 18px 24px -1px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 18px 24px -1px rgba(0, 0, 0, 0.9);
}
#title-bar nav .nav .action-wrapper {
  flex-grow: 4;
  border-right: none;
}
#title-bar nav .nav span {
  display: block;
  font-family: 'Constantia, Arial, sans-serif';
  color: #9DA4AA;
  transform: skewx(20deg);
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#title-bar nav .nav span:hover {
  transition: all 0.2s ease-in-out;
  color: #fff;
}
#title-bar nav .nav .action-wrapper {
  z-index: 20;
}
#title-bar nav .nav .action-wrapper .power {
  transform: skewx(20deg);
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  background: #26090B;
}
@media only screen and (max-width: 830px) {
  #title-bar nav .nav .action-wrapper .power {
    top: -1px;
  }
}
#title-bar nav .nav .action-wrapper .power:hover {
  cursor: pointer;
}
#title-bar nav .nav .action-wrapper .power .fa-power-off:before {
  background: #B95B2A;
  border-radius: 50%;
  color: #000;
  padding: 3px;
  text-shadow: none;
  position: absolute;
  left: 1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}
#title-bar nav .nav .action-wrapper .hidden-login {
  display: none;
  position: absolute;
  top: 50px;
  transform: skewx(20deg);
  right: -18px;
  width: 200px;
  background: #26090B;
}
#title-bar nav .nav .action-wrapper .hidden-login a span {
  transform: none!important;
}
#title-bar nav .nav .action-wrapper .show-login {
  display: block!important;
}
.main-wrapper > div {
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 0;
}
@media only screen and (max-width: 830px) {
  .main-wrapper > div {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}
.main-wrapper ul#ladder-records {
  text-align: center;
  font-family: 'Constantia, Arial, sans-serif';
  color: #9DA4AA;
}
.main-wrapper ul#ladder-records li:first-child {
  margin-top: 0;
}
.main-wrapper ul#ladder-records .flex-parent {
  display: flex;
}
.main-wrapper ul#ladder-records .records-column-main {
  flex: 1;
}
.main-wrapper ul#ladder-records .records-column-alt {
  display: flex;
  flex: 1;
}
.main-wrapper ul#ladder-records .records-column {
  flex: 1;
}
.main-wrapper ul#ladder-records .player {
  padding: 5px;
  margin: 2px;
  border: thin black solid;
  background: rgba(30, 30, 30, 0.8);
}
.main-wrapper ul#ladder-records .name a {
  text-decoration: none;
  color: #9DA4AA;
}
.main-wrapper ul#ladder-records .records-highlight {
  color: #f7f7f7;
}
.videogular-container {
  transition: all 0.2s ease-in-out;
  width: 50%!important;
  height: 320px;
  margin: auto;
  overflow: visible;
  color: #9DA4AA!important;
}
@media only screen and (max-width: 830px) {
  .videogular-container {
    transition: all 0.2s ease-in-out;
    width: 100%!important;
  }
}
.videogular-container .audio {
  height: 50px;
  background: none!important;
}
.videogular-container .audio vg-volume:before {
  content: '\f028';
  font-family: FontAwesome;
  color: #fff;
}
.videogular-container .audio .verticalVolumeBar {
  background: #101116;
  background-image: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.videogular-container .audio .time-holder {
  padding-left: 15px;
  font-size: 15px;
  width: 124px;
}
.videogular-container videogular vg-controls .controls-container,
.videogular-container [videogular] vg-controls .controls-container {
  background: none!important;
}
.videogular-container vg-play-pause-button .pause:before {
  content: "\f04c";
  font-family: FontAwesome;
}
.videogular-container vg-play-pause-button .play:before {
  content: "\f04b";
  font-family: FontAwesome;
}
.player-wrapper.open {
  height: calc(100% - 50px);
  transition: all 0.2s ease-in-out;
}
.player-wrapper.open #paging {
  display: none;
}
.player-wrapper {
  transition: all 0.2s ease-in-out;
  z-index: 20;
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  height: 0%;
  height: 50px;
  background: #101116;
  border-top: 1px solid #5F5F67;
  background-image: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.player-wrapper .podcast-title {
  position: absolute;
  color: #fff;
  width: 24%;
  height: auto;
  padding: 17px;
  font-size: 13px;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .podcast-title {
    display: none;
  }
}
.player-wrapper .podcast-title div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #9DA4AA;
}
.player-wrapper .player.show-player {
  transition: all 0.2s ease-in-out;
  display: inherit;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .player.show-player {
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 50px;
  }
}
.player-wrapper .player {
  transition: all 0.2s ease-in-out;
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .player {
    background: #101116;
    border-top: 1px solid #5F5F67;
    background-image: #101116;
    background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
    background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
    background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
    background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
    background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
  }
}
.player-wrapper #paging.is-playing {
  transition: all 0.2s ease-in-out;
  right: 0;
  width: 20%;
  position: absolute;
  left: inherit;
}
@media only screen and (max-width: 830px) {
  .player-wrapper #paging.is-playing {
    width: 100%;
  }
}
.player-wrapper #paging {
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 17px);
  height: 50px;
  background: #101116;
  border-top: 1px solid #5F5F67;
  display: flex;
  background-image: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.player-wrapper #paging div a {
  text-decoration: none;
  color: #9DA4AA;
}
.player-wrapper #paging div a:hover {
  color: #ffffff;
}
.player-wrapper #paging div a i {
  position: absolute;
}
.player-wrapper #paging #prev {
  position: relative;
  flex: 1;
  text-align: right;
}
.player-wrapper #paging #prev:hover {
  cursor: pointer;
}
.player-wrapper #paging #prev:hover .prev-text {
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #prev:hover i {
  animation: left-bump 0.4s ease;
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #prev .prev-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: -40px;
}
.player-wrapper #paging #prev i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  right: 5px;
}
.player-wrapper #paging #next {
  position: relative;
  flex: 1;
  text-align: left;
}
.player-wrapper #paging #next:hover {
  cursor: pointer;
}
.player-wrapper #paging #next:hover .next-text {
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #next:hover i {
  animation: right-bump 0.4s ease;
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #next .next-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: 40px;
}
.player-wrapper #paging #next i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  left: 5px;
}
.social-container {
  margin-bottom: 50px;
  width: 60%;
  max-width: 725px;
  margin: 0 auto;
  height: calc(100% - 100px);
  display: flex;
  position: relative;
}
@media only screen and (max-width: 830px) {
  .social-container {
    flex-direction: column;
  }
}
.social-container .close {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 50px;
  color: #999999;
  transition: all 0.2s ease-in-out;
}
.social-container .close:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.social-container > div {
  min-height: 155px;
  padding: 20px;
}
.social-container > div h3 {
  padding-top: 0;
  margin-top: 0;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}
.social-container .left-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
.social-container .middle-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
.social-container .right-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 830px) {
  .social-container .right-column {
    align-items: inherit;
    margin-bottom: 50px;
  }
}
.social-container .share-links {
  flex: 1;
}
.social-container .community-links {
  flex: 1;
}
.social-container .support-links {
  flex: 1;
}
.social-container .link-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-container .link-wrapper li {
  height: 30px;
  line-height: 30px;
  display: block;
  width: auto;
  margin-top: 10px;
}
.social-container .link-wrapper li a {
  height: 100%;
  width: 80px;
  display: block;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.social-container .link-wrapper li a:hover {
  cursor: pointer;
}
.social-container .facebook {
  background-color: #3b5998;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .facebook:hover {
  background-color: #2d4373;
  transition: all 0.2s ease-in-out;
}
.social-container .twitter {
  background-color: #55acee;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .twitter:hover {
  background-color: #2795e9;
  transition: all 0.2s ease-in-out;
}
.social-container .reddit {
  background-color: #eff7ff;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .reddit:hover {
  background-color: #bcddff;
  transition: all 0.2s ease-in-out;
}
.social-container .patreon {
  background-color: #232D32;
  color: #E6461A;
  border-color: rgba(230, 70, 26, 0.2) !important;
}
.social-container .patreon:hover {
  background-color: #0e1214;
  transition: all 0.2s ease-in-out;
}
.social-container .discord {
  background-color: #7289DA;
  color: #ffffff;
  border-color: rgba(114, 137, 218, 0.2) !important;
}
.social-container .discord:hover {
  background-color: #4a67cf;
  transition: all 0.2s ease-in-out;
}
.social-container .youtube {
  background-color: #eff7ff;
  color: #DD2724;
  border-color: rgba(221, 39, 36, 0.2) !important;
}
.social-container .youtube:hover {
  background-color: #bcddff;
  transition: all 0.2s ease-in-out;
}
.social-container .twitch {
  background-color: #6441A4;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .twitch:hover {
  background-color: #4e337f;
  transition: all 0.2s ease-in-out;
}
.share-container {
  transform: skewx(20deg);
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
}
.share-container .active {
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
}
@media only screen and (max-width: 830px) {
  .share-container {
    right: 50px;
    transform: skewx(0deg);
    top: -1px;
  }
}
.share-container:hover {
  cursor: pointer;
}
.share-container i {
  position: absolute;
  left: 0;
  right: 0;
}
.share-container .fa-share-alt:before {
  background: #4080FF;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  text-shadow: none;
  position: absolute;
  left: 1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}
.discord-icon {
  width: 10px;
  height: 10px;
  position: relative;
  padding-left: 20px;
}
.discord-icon:after {
  background-image: url(../images/discordLogo.png);
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: "";
  top: 0px;
  position: absolute;
  left: 0;
}
.patreon-icon {
  width: 10px;
  height: 10px;
  position: relative;
  padding-left: 20px;
}
.patreon-icon:after {
  background-image: url(../images/patreonLogo.png);
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: "";
  top: 0px;
  position: absolute;
  left: 0;
}
.about-wrapper {
  color: #9DA4AA;
  height: 100%;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.about-wrapper .hosts-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-wrapper .hosts-section ul div {
  position: relative;
  padding-top: 80px;
  padding-bottom: 1%;
  margin-top: 30px;
}
.about-wrapper .hosts-section ul div .cyphus,
.about-wrapper .hosts-section ul div .roland {
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  right: 0;
  top: 5%;
  left: 0;
  margin: auto;
  text-align: center;
}
.about-wrapper .hosts-section ul div .host-pic {
  position: absolute;
  right: 25%;
  top: -3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div .host-pic {
    right: 20%;
  }
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.cyphus-container .cyphus {
    text-align: left;
    padding-left: 20%;
  }
}
.about-wrapper .hosts-section ul div.roland-container {
  margin-bottom: 100px;
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.roland-container .roland {
    text-align: right;
    padding-right: 20%;
  }
}
.about-wrapper .hosts-section ul div.roland-container .host-pic {
  left: 25%;
  right: 0;
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.roland-container .host-pic {
    left: 20%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.product {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
.product:last-child {
  padding-bottom: 50px;
}
.product > .product-specs {
  text-align: center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.product > .product-specs > div {
  flex: 1;
}
.product > .product-specs > .product-add-to-cart {
  cursor: pointer;
}
.product > img {
  width: 192px;
  height: 192px;
}
.main-wrapper {
  color: #9DA4AA;
}
.main-wrapper a {
  color: #5c5cff;
  text-decoration: none;
}
.main-wrapper a:visited {
  color: #8159a6;
}
.main-wrapper ul {
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 830px) {
  .main-wrapper ul {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}
.main-wrapper ul li {
  position: relative;
}
.main-wrapper ul li:first-child {
  margin-top: 40px;
}
.main-wrapper ul li:last-child {
  margin-bottom: 130px;
}
.main-wrapper ul li .podcast-container {
  color: #9DA4AA;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: #101116;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.main-wrapper ul li .podcast-container:before,
.main-wrapper ul li .podcast-container:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F5F67), to(transparent));
  background-image: -webkit-linear-gradient(#5F5F67, transparent);
  background-image: -moz-linear-gradient(#5F5F67, transparent);
  background-image: -o-linear-gradient(#5F5F67, transparent);
  background-image: linear-gradient(#5F5F67, transparent);
  top: -1px;
  bottom: -1px;
  width: 1px;
}
.main-wrapper ul li .podcast-container:before {
  left: -1px;
}
.main-wrapper ul li .podcast-container:after {
  right: 0;
  top: -1px;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F5F67), to(transparent));
  background-image: -webkit-linear-gradient(to right, #5F5F67, transparent);
  background-image: -moz-linear-gradient(to right, #5F5F67, transparent);
  background-image: -o-linear-gradient(to right, #5F5F67, transparent);
  background-image: linear-gradient(to right, #5F5F67, transparent);
}
.main-wrapper ul li .podcast-container .publish-date {
  color: #ffffff;
  padding: 10px;
  background: #101116;
  opacity: 0.3;
  -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
  -moz-box-shadow: inset 0px 0px 10px 0px #000000;
  box-shadow: inset 0px 0px 10px 0px #000000;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #777777;
}
.main-wrapper ul li .podcast-container .episode-image img {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid #565656;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.main-wrapper ul li .podcast-container h2 {
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.main-wrapper ul li .podcast-container h2:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}
.main-wrapper ul li .podcast-container h2 a {
  text-decoration: none;
  color: inherit;
  color: #ffffff;
}
.main-wrapper ul li .podcast-summary {
  color: #9DA4AA;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
  -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
  -moz-box-shadow: inset 0px 0px 10px 0px #000000;
  box-shadow: inset 0px 0px 10px 0px #000000;
  padding: 20px;
  position: relative;
}
.main-wrapper ul li .podcast-summary p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.main-wrapper ul li .podcast-actions {
  color: #ffffff;
  font-family: 'Constantia, Arial, sans-serif';
  background: #101116;
  background-image: #101116;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -o-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -ms-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -moz-radial-gradient(top left, circle cover, #252834, #101116);
  background-image: url("https://www.transparenttextures.com/patterns/assault.png"), -webkit-radial-gradient(top left, circle cover, #252834, #101116);
}
.main-wrapper ul li .podcast-actions .play-text,
.main-wrapper ul li .podcast-actions .share-text,
.main-wrapper ul li .podcast-actions .dl-text {
  opacity: 0;
}
.main-wrapper ul li .podcast-actions .play-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #000000;
  border-left: 1px solid #5c5c5c;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .play-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .play-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .play-control:hover .play-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .play-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .download-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .download-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .download-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .download-control:hover .dl-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .download-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .share-control {
  padding: 20px;
  flex: 1;
  position: relative;
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .share-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .share-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .share-control:hover .share-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .share-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
