@keyframes right-bump {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 10px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes left-bump {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 10px;
  }
  100% {
    margin-right: 0;
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  background: #72757e;
  background-image: radial-gradient(center center, circle cover, #fafafa, #72757e);
  background-image: -o-radial-gradient(center center, circle cover, #fafafa, #72757e);
  background-image: -ms-radial-gradient(center center, circle cover, #fafafa, #72757e);
  background-image: -moz-radial-gradient(center center, circle cover, #fafafa, #72757e);
  background-image: -webkit-radial-gradient(center center, circle cover, #fafafa, #72757e);
  height: 100%;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  width: 100%;
  position: fixed;
}
#content-main {
  position: absolute;
  top: 50px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
.header {
  height: 50px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media only screen and (max-width: 830px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#title-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
#title-bar .nav.collapsed {
  min-width: 330px;
}
#title-bar .nav.collapsed li:not(:first-child) {
  display: none;
}
#title-bar .nav.collapsed li:last-child {
  display: inherit;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewX(0);
  height: 100%;
  border-bottom: none;
}
#title-bar .nav.collapsed li:last-child .patreon-container {
  transform: skewX(0);
}
#title-bar .nav.collapsed li:last-child .pvgna-container {
  transform: skewX(0);
}
#title-bar .nav.collapsed li:last-child .power {
  transform: skewX(0);
}
#title-bar .nav.collapsed li:first-child header {
  right: inherit;
  left: 8px;
}
#title-bar .nav.collapsed .dotpeeps {
  width: 70%;
}
#title-bar .collapsed-nav.is-showing-nav {
  width: 100%;
  right: 0;
  transition: all 0.2s ease-in-out;
}
#title-bar .collapsed-nav.is-showing-nav li {
  flex: 1;
  font-size: 1em;
  text-transform: uppercase;
  transition: background .2s ease, color .2s ease;
  letter-spacing: .1em;
  position: relative;
}
#title-bar .collapsed-nav.is-showing-nav li:last-child a {
  border-bottom: 4px solid black;
  height: calc(92%);
}
#title-bar .collapsed-nav.is-showing-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
  height: calc(96%);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(96%);
  transition: all 0.2s ease-in-out;
  border: 4px solid black;
  border-bottom: none;
}
#title-bar .collapsed-nav.is-showing-nav li a:hover {
  cursor: pointer;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
#title-bar .collapsed-nav.is-showing-nav li a span {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#title-bar .collapsed-nav.is-showing-nav .power {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}
#title-bar .collapsed-nav {
  transition: all 0.2s ease-in-out;
  width: 0%;
  height: calc(100% - 60px);
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  top: 60px;
  background-color: #fff;
}
#title-bar nav {
  background: #fff;
  height: 100%;
}
#title-bar nav .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  height: 30px;
  position: relative;
  display: flex;
}
#title-bar nav .nav li {
  flex: 2;
  display: flex;
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  transform: skewx(-40deg);
  transition: background .2s ease, color .2s ease;
  letter-spacing: .1em;
}
#title-bar nav .nav li.title-bar-spacer {
  flex-grow: 1;
  border: none;
}
#title-bar nav .nav li.title-bar-nav {
  border: 2px solid black;
  border-radius: 3px;
  background-color: black;
  height: 32px;
}
#title-bar nav .nav li.title-bar-nav > div {
  border: 1px solid black;
}
#title-bar nav .nav li > div {
  flex: 1;
  background-color: white;
}
#title-bar nav .nav li > div#dotp-logo {
  transform: skewX(40deg);
  border: none;
}
#title-bar nav .nav li > div#dotp-logo > img {
  width: 120px;
  margin: 0 auto;
  display: block;
  top: -27px;
  position: relative;
}
@media only screen and (max-width: 830px) {
  #title-bar nav .nav li > div#dotp-logo > img {
    margin: 0;
    left: 20px;
  }
}
#title-bar nav .nav li > div.share-container {
  border: none;
}
#title-bar nav .nav li > div > div {
  height: 5px;
  border-top: 1.5px solid black;
}
#title-bar nav .nav li > div:hover > div {
  transition: all 0.2s ease-in-out;
  background-color: rgba(221, 73, 61, 0.55);
}
#title-bar nav .nav li > div.active:hover > div {
  background-color: #df5244;
}
#title-bar nav .nav li a {
  display: block;
  padding: 0.2em;
  text-decoration: none;
  color: inherit;
}
#title-bar nav .nav li a.patreon {
  height: 100%;
  padding: 0;
}
#title-bar nav .nav li a.pvgna {
  height: 100%;
  padding: 0;
}
#title-bar nav .nav .active > div {
  background-color: #df5244;
}
#title-bar nav .nav .action-wrapper {
  flex-grow: 1;
  border-right: none;
}
#title-bar nav .nav span {
  display: block;
  font-family: sans-serif;
  color: #1b1b1b;
  transform: skewx(40deg);
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#title-bar nav .nav .action-wrapper {
  z-index: 20;
}
#title-bar nav .nav .action-wrapper .power {
  transform: skewx(40deg);
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  background: #26090B;
}
@media only screen and (max-width: 830px) {
}
#title-bar nav .nav .action-wrapper .power:hover {
  cursor: pointer;
}
#title-bar nav .nav .action-wrapper .power .fa-power-off:before {
  background: #B95B2A;
  border-radius: 50%;
  color: #000;
  padding: 3px;
  text-shadow: none;
  position: absolute;
  left: 1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  top: 4px;
  padding-left: 4.5px;
}
#title-bar nav .nav .action-wrapper .patreon-container {
  width: 50px;
  height: 100%;
  right: 50px;
  position: absolute;
  transform: skewX(40deg);
}
@media only screen and (max-width: 830px) {
  #title-bar nav .nav .action-wrapper .patreon-container {
    right: 100px;
  }
}
#title-bar nav .nav .action-wrapper .pvgna-container {
  width: 50px;
  height: 100%;
  right: 100px;
  position: absolute;
  transform: skewX(40deg);
}
@media only screen and (max-width: 830px) {
  #title-bar nav .nav .action-wrapper .pvgna-container {
    right: 150px;
  }
}
#title-bar nav .nav .action-wrapper .hidden-login {
  display: none;
  position: absolute;
  top: 50px;
  transform: skewx(20deg);
  right: -18px;
  width: 200px;
  background: #26090B;
}
#title-bar nav .nav .action-wrapper .hidden-login a span {
  transform: none!important;
}
#title-bar nav .nav .action-wrapper .show-login {
  display: block!important;
}
.main-wrapper > div {
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 0;
}
@media only screen and (max-width: 830px) {
  .main-wrapper > div {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}
.main-wrapper ul#ladder-records {
  text-align: center;
  font-family: sans-serif;
  color: #476fa7;
  margin-bottom: 125px;
}
.main-wrapper ul#ladder-records li {
  background-color: #fff;
}
.main-wrapper ul#ladder-records li:first-child {
  margin-top: 0;
}
.main-wrapper ul#ladder-records .flex-parent {
  display: flex;
}
.main-wrapper ul#ladder-records .records-column-main {
  flex: 1;
}
.main-wrapper ul#ladder-records .records-column-alt {
  display: flex;
  flex: 1;
}
.main-wrapper ul#ladder-records .records-column {
  flex: 1;
}
.main-wrapper ul#ladder-records .player {
  padding: 5px;
  margin: 2px;
}
.main-wrapper ul#ladder-records .name a {
  text-decoration: none;
  color: #476fa7;
}
.main-wrapper ul#ladder-records .records-highlight {
  color: #f47522;
}
.videogular-container {
  transition: all 0.2s ease-in-out;
  width: 50%!important;
  height: 320px;
  margin: auto;
  overflow: visible;
}
@media only screen and (max-width: 830px) {
  .videogular-container {
    transition: all 0.2s ease-in-out;
    width: 100%!important;
  }
}
.videogular-container vg-scrub-bar [role=slider] {
  background: rgba(62, 101, 158, 0.6);
}
.videogular-container vg-scrub-bar-buffer {
  background-color: #3e659e;
  opacity: 1;
}
.videogular-container vg-scrub-bar-current-time {
  background-color: #f36820;
  z-index: 1000;
}
.videogular-container vg-time-display,
.videogular-container [videogular] vg-time-display {
  color: #000;
}
.videogular-container .audio {
  height: 50px;
  background: none!important;
}
.videogular-container .audio vg-volume:before {
  content: '\f028';
  font-family: FontAwesome;
}
.videogular-container .audio .verticalVolumeBar {
  background: #fff;
  border: 1px solid #000;
}
.videogular-container .audio .verticalVolumeBar .volumeBackground {
  background: #888888;
}
.videogular-container .audio .verticalVolumeBar .volumeBackground .volumeValue {
  background: #476fa7;
}
.videogular-container .audio .time-holder {
  padding-left: 15px;
  font-size: 15px;
  width: 124px;
}
.videogular-container videogular vg-controls .controls-container,
.videogular-container [videogular] vg-controls .controls-container {
  background: none!important;
}
.videogular-container vg-play-pause-button .pause:before {
  content: "\f04c";
  font-family: FontAwesome;
}
.videogular-container vg-play-pause-button .play:before {
  content: "\f04b";
  font-family: FontAwesome;
}
.player-wrapper.open {
  height: calc(100% - 50px);
  transition: all 0.2s ease-in-out;
}
.player-wrapper.open #paging {
  display: none;
}
.player-wrapper {
  transition: all 0.2s ease-in-out;
  z-index: 20;
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  height: 0%;
  height: 50px;
  background-color: #fff;
  border-top: 5px solid black;
}
.player-wrapper .podcast-title {
  position: absolute;
  width: 24%;
  height: auto;
  padding: 17px;
  font-size: 13px;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .podcast-title {
    display: none;
  }
}
.player-wrapper .podcast-title div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.player-wrapper .player.show-player {
  transition: all 0.2s ease-in-out;
  display: inherit;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .player.show-player {
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 50px;
  }
}
.player-wrapper .player {
  transition: all 0.2s ease-in-out;
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
@media only screen and (max-width: 830px) {
  .player-wrapper .player {
    background: #fff;
    border-top: 1px solid #5F5F67;
  }
}
.player-wrapper .player videogular .iconButton,
.player-wrapper .player [videogular] .iconButton {
  color: #000;
}
.player-wrapper #paging.is-playing {
  transition: all 0.2s ease-in-out;
  right: 0;
  width: 20%;
  position: absolute;
  left: inherit;
}
@media only screen and (max-width: 830px) {
  .player-wrapper #paging.is-playing {
    width: 100%;
  }
}
.player-wrapper #paging {
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 17px);
  height: 50px;
  background: #fff;
  border-top: 1px solid #5F5F67;
  display: flex;
}
.player-wrapper #paging div#prev a {
  color: #f36820;
}
.player-wrapper #paging div#next a {
  color: #3e659e;
}
.player-wrapper #paging div a {
  text-decoration: none;
}
.player-wrapper #paging div a i {
  position: absolute;
}
.player-wrapper #paging #prev {
  position: relative;
  flex: 1;
  text-align: right;
}
.player-wrapper #paging #prev:hover {
  cursor: pointer;
}
.player-wrapper #paging #prev:hover i {
  animation: left-bump 0.4s ease;
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #prev .prev-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: -40px;
}
.player-wrapper #paging #prev i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  right: 5px;
}
.player-wrapper #paging #next {
  position: relative;
  flex: 1;
  text-align: left;
}
.player-wrapper #paging #next:hover {
  cursor: pointer;
}
.player-wrapper #paging #next:hover i {
  animation: right-bump 0.4s ease;
  transition: all 0.2s ease-in-out;
}
.player-wrapper #paging #next .next-text {
  transition: all 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  line-height: 50px;
  margin-left: 40px;
}
.player-wrapper #paging #next i {
  transition: all 0.2s ease-in-out;
  top: 9px;
  left: 5px;
}
.social-container {
  margin-bottom: 50px;
  width: 60%;
  max-width: 725px;
  margin: 0 auto;
  height: calc(100% - 100px);
  display: flex;
  position: relative;
}
@media only screen and (max-width: 830px) {
  .social-container {
    flex-direction: column;
  }
}
.social-container .close {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 50px;
  color: #999999;
  transition: all 0.2s ease-in-out;
}
.social-container .close:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.social-container > div {
  min-height: 155px;
  padding: 20px;
}
.social-container > div h3 {
  padding-top: 0;
  margin-top: 0;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}
.social-container .left-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
.social-container .middle-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
.social-container .right-column {
  flex: 1;
  order: 1;
  padding: 5px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 830px) {
  .social-container .right-column {
    align-items: inherit;
    margin-bottom: 50px;
  }
}
.social-container .share-links {
  flex: 1;
}
.social-container .community-links {
  flex: 1;
}
.social-container .support-links {
  flex: 1;
}
.social-container .link-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-container .link-wrapper li {
  height: 30px;
  line-height: 30px;
  display: block;
  width: auto;
  margin-top: 10px;
}
.social-container .link-wrapper li a {
  height: 100%;
  width: 120px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.social-container .link-wrapper li a:hover {
  cursor: pointer;
}
.social-container .facebook {
  background-color: #3b5998;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .facebook:hover {
  background-color: #2d4373;
  transition: all 0.2s ease-in-out;
}
.social-container .twitter {
  background-color: #55acee;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .twitter:hover {
  background-color: #2795e9;
  transition: all 0.2s ease-in-out;
}
.social-container .reddit {
  background-color: #eff7ff;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .reddit:hover {
  background-color: #bcddff;
  transition: all 0.2s ease-in-out;
}
.social-container .patreon {
  background-color: #232D32;
  color: #E6461A;
  border-color: rgba(230, 70, 26, 0.2) !important;
}
.social-container .patreon:hover {
  background-color: #0e1214;
  transition: all 0.2s ease-in-out;
}
.social-container .discord {
  background-color: #7289DA;
  color: #ffffff;
  border-color: rgba(114, 137, 218, 0.2) !important;
}
.social-container .discord:hover {
  background-color: #4a67cf;
  transition: all 0.2s ease-in-out;
}
.social-container .youtube {
  background-color: #eff7ff;
  color: #DD2724;
  border-color: rgba(221, 39, 36, 0.2) !important;
}
.social-container .youtube:hover {
  background-color: #bcddff;
  transition: all 0.2s ease-in-out;
}
.social-container .twitch {
  background-color: #6441A4;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.social-container .twitch:hover {
  background-color: #4e337f;
  transition: all 0.2s ease-in-out;
}
i.patreon-icon.patreon-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 1em;
  padding-left: 0;
  top: 6px;
  margin: auto;
  text-align: center;
}
i.pvgna-icon.pvgna-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 50px;
  padding-left: 0;
  margin: auto;
  text-align: center;
}
.share-container {
  transform: skewx(40deg);
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
}
.share-container .active {
  background: #101116;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
}
@media only screen and (max-width: 830px) {
  .share-container {
    right: 50px;
    transform: skewx(0deg);
  }
}
.share-container:hover {
  cursor: pointer;
}
.share-container i {
  position: absolute;
  left: 0;
  right: 0;
}
.share-container .fa-share-alt:before {
  background: #4080FF;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  text-shadow: none;
  position: absolute;
  left: 1px;
  right: 0;
  margin: auto;
  width: 15px;
  height: 16px;
}
.discord-icon {
  width: 10px;
  height: 10px;
  position: relative;
  padding-left: 20px;
}
.discord-icon:after {
  background-image: url(../images/discordLogo.png);
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: "";
  top: 0px;
  position: absolute;
  left: 0;
}
.patreon-icon {
  width: 10px;
  height: 10px;
  position: relative;
  padding-left: 20px;
}
.patreon-icon:after {
  background-image: url(../images/patreonLogo.png);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  content: "";
  top: 0px;
  position: absolute;
  left: 0;
}
.pvgna-icon {
  width: 10px;
  height: 10px;
  position: relative;
  padding-left: 20px;
}
.pvgna-icon:after {
  background-image: url(../images/PVGNA-no-text.png);
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  content: "";
  top: 3px;
  position: absolute;
  left: 0;
  background-color: #1a263a;
  padding: 3px;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50%;
  right: 0;
  margin: auto;
}
.about-wrapper {
  height: 100%;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 125px;
}
.about-wrapper .hosts-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-wrapper .hosts-section ul div {
  position: relative;
  padding-top: 80px;
  padding-bottom: 1%;
  margin-top: 30px;
}
.about-wrapper .hosts-section ul div .cyphus,
.about-wrapper .hosts-section ul div .roland {
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  right: 0;
  top: 5%;
  left: 0;
  margin: auto;
  text-align: center;
}
.about-wrapper .hosts-section ul div .host-pic {
  position: absolute;
  right: 25%;
  top: -3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div .host-pic {
    right: 20%;
  }
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.cyphus-container .cyphus {
    text-align: left;
    padding-left: 20%;
  }
}
.about-wrapper .hosts-section ul div.roland-container {
  margin-bottom: 100px;
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.roland-container .roland {
    text-align: right;
    padding-right: 20%;
  }
}
.about-wrapper .hosts-section ul div.roland-container .host-pic {
  left: 25%;
  right: 0;
}
@media only screen and (max-width: 830px) {
  .about-wrapper .hosts-section ul div.roland-container .host-pic {
    left: 20%;
  }
}
.hidden {
  display: none;
}
.checkout {
  curor: pointer;
  font-size: 2em;
  text-align: center;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.product {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}
.product:last-child {
  padding-bottom: 50px;
}
.product > .product-specs {
  text-align: center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.product > .product-specs > div {
  flex: 1;
}
.product > .product-specs > .product-add-to-cart {
  cursor: pointer;
}
.product > img {
  width: 192px;
  height: 192px;
}
.main-wrapper {
  color: #1b1b1b;
  padding-bottom: 50px;
}
.main-wrapper a {
  color: #5c5cff;
  text-decoration: none;
}
.main-wrapper a:visited {
  color: #8159a6;
}
.main-wrapper ul {
  transition: all 0.2s ease-in-out;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 830px) {
  .main-wrapper ul {
    width: 90%;
    transition: all 0.2s ease-in-out;
  }
}
.main-wrapper ul li {
  position: relative;
  margin-bottom: 50px;
  border: 3px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 2px;
}
.main-wrapper ul li:first-child {
  margin-top: 40px;
}
.main-wrapper ul li:last-child {
  margin-bottom: 130px;
}
.main-wrapper ul li .podcast-container {
  color: #1b1b1b;
  font-family: sans-serif;
  background: #fff;
  background-image: #101116;
  padding: 15px;
  position: relative;
}
.main-wrapper ul li .podcast-container:before,
.main-wrapper ul li .podcast-container:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 1px;
}
.main-wrapper ul li .podcast-container:before {
  left: -1px;
}
.main-wrapper ul li .podcast-container:after {
  right: 0;
  top: -1px;
  width: 100%;
  height: 1px;
}
.main-wrapper ul li .podcast-container .publish-date {
  color: #ffffff;
  padding: 10px;
  background: #101116;
  opacity: 0.3;
  -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
  -moz-box-shadow: inset 0px 0px 10px 0px #000000;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #777777;
}
.main-wrapper ul li .podcast-container .episode-image img {
  position: absolute;
  top: -25px;
  right: -25px;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.main-wrapper ul li .podcast-container h2 {
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
  margin-right: 75px;
}
.main-wrapper ul li .podcast-container h2:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.main-wrapper ul li .podcast-container h2 a {
  text-decoration: none;
  color: inherit;
  color: #000;
}
.main-wrapper ul li .podcast-container h2 a:hover {
  text-decoration: none;
}
.main-wrapper ul li .podcast-summary {
  color: #1b1b1b;
  font-family: sans-serif;
  background: #fff;
  padding: 20px;
  position: relative;
}
.main-wrapper ul li .podcast-summary p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.main-wrapper ul li .podcast-summary div.left-accent {
  width: 50px;
  height: 120px;
  background: #df5244;
  position: absolute;
  left: -55px;
  top: 30px;
}
.main-wrapper ul li .podcast-summary div.right-accent {
  width: 50px;
  height: 120px;
  background: #df5244;
  position: absolute;
  right: -53px;
  top: 30px;
}
.main-wrapper ul li .podcast-actions {
  color: #1b1b1b;
  font-family: sans-serif;
  background: #fff;
  background-image: #101116;
  position: relative;
  display: flex;
  text-align: center;
}
.main-wrapper ul li .podcast-actions .play-text,
.main-wrapper ul li .podcast-actions .share-text,
.main-wrapper ul li .podcast-actions .dl-text {
  opacity: 0;
}
.main-wrapper ul li .podcast-actions .play-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}
.main-wrapper ul li .podcast-actions .play-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .play-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 10px;
}
.main-wrapper ul li .podcast-actions .play-control:hover .play-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  top: 10px;
  position: relative;
}
.main-wrapper ul li .podcast-actions .play-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .download-control {
  padding: 20px;
  flex: 1;
  position: relative;
  text-decoration: none;
  color: inherit;
  border-top: 1px solid #000;
}
.main-wrapper ul li .podcast-actions .download-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .download-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 10px;
}
.main-wrapper ul li .podcast-actions .download-control:hover .dl-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  top: 10px;
  position: relative;
}
.main-wrapper ul li .podcast-actions .download-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.main-wrapper ul li .podcast-actions .share-control {
  padding: 20px;
  flex: 1;
  position: relative;
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  border-bottom: 1px solid #5f5f67;
}
.main-wrapper ul li .podcast-actions .share-control:hover {
  cursor: pointer;
}
.main-wrapper ul li .podcast-actions .share-control:hover i {
  transition: all 0.2s ease-in-out;
  top: 5px;
}
.main-wrapper ul li .podcast-actions .share-control:hover .share-text {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.main-wrapper ul li .podcast-actions .share-control i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
