@import 'vars.less';
// @import 'global.less';
@import 'titlebar.less';
@import 'dotp-loader.less';
// @import 'ladder.less';
// @import 'player.less';
// @import 'social.less';
@import 'about.less';
// @import 'store.less';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#content-main {
  height: 100%;
  width: 100%;
  position: absolute;
}

#floating-elements {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
  & > img#dotp-logo {
    width: 30%;
    min-width: 150px;
    bottom: 10%;
    position: absolute;
    transition: bottom 0.7s cubic-bezier(0.49, 2.33, 0.75, -0.77), width 0.9s cubic-bezier(0.06, 1, 0.94, 0.78);
    transition: bottom 0.7s cubic-bezier(0.07, 2.50, 0.29, -1.02), width 0.9s cubic-bezier(0.06, 1, 0.94, 0.78);

    &.ravaged {
      bottom: calc(~'100% - 93px');
      width: 127px;
      min-width: 127px;
    }
  }

  & > div#tide-container {
    position: absolute;
    width: 87%;
    height: 90%;
    overflow: visible;
    bottom: 9%;
    right: 0;
    pointer-events: none;
    display: flex;
    align-items: flex-end;

    & > div {
      height: 0;
      bottom: 0;
      flex: 1;
      background: url('/images/tidehunter.png');
      background-repeat: no-repeat;

      transition: height 0.3s cubic-bezier(0, 1.01, 0.56, 0.86);

      &.ravage {
        height: 60%;
      }
    }
    & > img {
      position
      height: 0px;
      bottom: 0;
      //flex: 1;

      &#watermelon {
        height: 60px;
        pointer-events: all;
      }
    }
  }
}

#main-wrapper {

  height: 100%;
  width: 100%;
  position: absolute;

  & > #landing-foreground {
    width: 100%;
    height: 100%;
    background: radial-gradient(100px rgba(68, 71, 33, 0.29), rgba(0, 0, 0, 0.9) 600px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
  }

  & > #landing-background {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
