.player-wrapper {
  videogular vg-scrub-bar .container, [videogular] vg-scrub-bar .container {
      position: absolute;
      width: 100%;
      height: 15px;
      padding-left: 0;
      top: unset;
  }

  videogular vg-scrub-bar, [videogular] vg-scrub-bar {
      width: auto;
      cursor: pointer;
      position: initial;
      display: block;
  }

  videogular vg-scrub-bar [role="slider"], [videogular] vg-scrub-bar [role="slider"] {
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #control-top {
    height: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 300;
  }
  #control-mid {
    height: 35px;
    position: absolute;
    bottom: top;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.videogular-container {
    transition: @transition;
    width: 100%;
    height: 50px;

    @media @smartphones {
        transition: @transition;
        width:100%!important;
    }

    vg-scrub-bar {
      [role=slider] {
        // background: rgba(62, 101, 158, 0.6);
      }
    }
    vg-scrub-bar-buffer {
      background-color: @dotpBlue;
      opacity: 1;
    }
    vg-scrub-bar-current-time {
      background-color: @dotpOrange;
      z-index: 1000;
    }

    vg-time-display, [videogular] vg-time-display {
      //color: #000;
    }

	margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
    .audio {
        height: 50px;
        background: none!important;
        vg-volume:before {
            content: '\f028';
            font-family: FontAwesome;
        }
        .verticalVolumeBar {
            background: #fff;
            border: 1px solid #000;

            .volumeBackground {
              background: rgb(136, 136, 136);

              .volumeValue {
                background: #476fa7;
              }
            }
        }
        .time-holder {
            padding-left:15px;
            font-size:15px;
            width: 124px;
        }
    }
    videogular vg-controls .controls-container, [videogular] vg-controls .controls-container {
        background: none!important;
    }
    vg-play-pause-button .pause:before {
        content: "\f04c";
        font-family: FontAwesome;
    }
    vg-play-pause-button .play:before {
        content: "\f04b";
        font-family: FontAwesome;
    }
}

// Custom
.player-wrapper.open {
    transition: @transition;
    pointer-events: all;

    #paging {
        display: none;
    }
}

player.opened {
  & > .player-wrapper {
    width: 280px;
    pointer-events: all;

    @media @smartphones {
      width: 100%;
    }
    & .podcast-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 1;
      &.show-player {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &.show-player {
    & > .player-wrapper {
      width: 280px;
      pointer-events: all;
      & .podcast-actions {
        opacity: 0;
        pointer-events: none;
      }

    }
  }
}

.linkify.latest-episode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
player.show-player {
  & > .player-wrapper {
    width: 280px;
    pointer-events: all;

    & .podcast-actions {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.opened {
    & > .player-wrapper {
      width: 280px;
      pointer-events: all;
    }
  }
}

.player-wrapper {
  pointer-events: none;
    transition: all 0.6s ease;
    z-index: 20000;
    width: 280px;
    top: 58px;
    height: 50px;
    position: absolute;
    left: 76px;
    right: 0;
    margin: 0 auto;
    //overflow: hidden;

    & .podcast-actions {
      display: none;
      width: 100%;
    }

    & videogular .iconButton, [videogular] .iconButton {
      color: white;
      @media @smartphones {
        color: black;
      }
    }

    & videogular vg-time-display, [videogular] vg-time-display {
          @media @smartphones {
            color: black;
          }
    }
    @media @smartphones {
        left: 0;
        top: calc(~'100vh - 30px');
        width: 100%;
        color: black !important;
    }
    // background-image:@cardBg;
    // background-image: @navPattern, radial-gradient(top left, circle cover, @brightCard, @cardBg);
    // background-image: @navPattern, -o-radial-gradient(top left, circle cover, @brightCard, @cardBg);
    // background-image: @navPattern, -ms-radial-gradient(top left, circle cover, @brightCard, @cardBg);
    // background-image: @navPattern, -moz-radial-gradient(top left, circle cover, @brightCard, @cardBg);
    // background-image: @navPattern, -webkit-radial-gradient(top left, circle cover, @brightCard, @cardBg);
    .podcast-title {
        position: absolute;
        width: 100%;
        height: 15px;
        font-size: 13px;
        bottom: 0;
        box-sizing: border-box;
        z-index: 400;
        pointer-events: none;
        color: white;
        @media @smartphones {
            display: none;
        }
        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .player.show-player {
        transition: @transition;
        display: inherit;
        @media @smartphones {
            position: absolute;
            width: 100%;
            bottom: 50px;
            height: 50px;
        }
    }
    .player {
        transition: @transition;
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 100%;
        pointer-events: none;

        &.show-player {
          pointer-events: all;
        }

        & videogular vg-volume-bar {
          top: 20px;
          @media @smartphones {
            top: 0;
          }
        }
        @media @smartphones {
            background: #fff;
            border-top: 1px solid #5F5F67;
            // background-image:@cardBg;
            // background-image: @navPattern, radial-gradient(top left, circle cover, @brightCard, @cardBg);
            // background-image: @navPattern, -o-radial-gradient(top left, circle cover, @brightCard, @cardBg);
            // background-image: @navPattern, -ms-radial-gradient(top left, circle cover, @brightCard, @cardBg);
            // background-image: @navPattern, -moz-radial-gradient(top left, circle cover, @brightCard, @cardBg);
            // background-image: @navPattern, -webkit-radial-gradient(top left, circle cover, @brightCard, @cardBg);
        }
        videogular .iconButton, [videogular] .iconButton {
          //color:#000;
        }
    }
    #paging.is-playing {
        transition: @transition;
        margin: 0 auto;
        width: 20%;
        left: 0;
        right: 0;
        @media @smartphones {
            width:100%;
        }
    }
    #paging {
        transition: @transition;
        position: fixed;
        bottom: 0;
        left: 0;
        width:  ~"calc(100% - 17px)";
        height: 50px;
        background: #fff;
        border-top: 1px solid #5F5F67;
        display: flex;
        // background-image:@cardBg;
        // background-image: @navPattern, radial-gradient(top left, circle cover, @brightCard, @cardBg);
        // background-image: @navPattern, -o-radial-gradient(top left, circle cover, @brightCard, @cardBg);
        // background-image: @navPattern, -ms-radial-gradient(top left, circle cover, @brightCard, @cardBg);
        // background-image: @navPattern, -moz-radial-gradient(top left, circle cover, @brightCard, @cardBg);
        // background-image: @navPattern, -webkit-radial-gradient(top left, circle cover, @brightCard, @cardBg);
        div {
          &#prev {
            a {
              color: @dotpOrange;
            }
          }
          &#next {
            a {
              color: #3e659e;
            }
          }
          a {
            text-decoration: none;
            i {
                position: absolute;
            }
          }
        }
        #prev {
            position: relative;
            flex: 1;
            text-align: right;
            &:hover {
                cursor: pointer;
                .prev-text {
                    //transition: @transition;
                }
                i {
                    animation: @left-bump;
                    transition: @transition;
                }
            }
            .prev-text {
                transition: @transition;
                height: 100%;
                width: 100%;
                line-height: 50px;
                margin-left: -40px;
            }
            i {
                transition: @transition;
                top: 9px;
                right:5px;
            }
        }
        #next {
            position: relative;
            flex: 1;
            text-align: left;
            &:hover {
                cursor: pointer;
                .next-text {
                    //transition: @transition;
                }
                i {
                    animation: @right-bump;
                    transition: @transition;
                }
            }
            .next-text {
                transition: @transition;
                height: 100%;
                width: 100%;
                line-height: 50px;
                margin-left: 40px;
            }
            i {
                transition: @transition;
                top: 9px;
                left:5px;
            }
        }
    }
}
