
.limit-width-top-level {
  width: 100%;
  //max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 90px;
  box-sizing: border-box;


}

.float-left {
  width: calc(~'50% - 20px');
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  @media @smartphones {
    height: auto;
    width: 100%;
    display: inline-block;
  }
}
