div#cart-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: content-box;

  ul {
    list-style: none;
    clear: both;
    li {
      padding: 5px;

    }
    @media @smartphones {
      padding: 0;


    }
  }
}

.close-product {
    position: absolute;
    top: 5px;
    right: 5px;
}

.main-wrapper {
  &#store-wrapper {
    @media @smartphones {
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
    	padding-top: 15px;
    	text-align: center;
    }
  }

   & > div#dotp-store {
     margin-bottom: 75px;
     margin: 0 auto;



  .store-item {
    width: 90%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 0 auto;
    transition: all 0.4s ease;
    position: relative;
    left: 0;
    right: 0;

      @media @smartphones {
        min-height: 700px;
      }

      & #store-spacer {
        height: 1022px;
        padding-left: 120px;
        padding-right: 120px;

        @media @smartphones {
          min-height: 700px;
        }
      }

    &.item-selected {
      @media @smartphones {
      min-height: 700px;
      }


            & #store-spacer {
              height: 1022px;
              padding-left: 120px;
              padding-right: 120px;

              @media @smartphones {
                min-height: 700px;
                height: 700px;
              }
            }


      & > .product {
        opacity: 0;
        pointer-events: none;
        &.selected-item {
          pointer-events: all;
          width: 100%;
          opacity: 1;

          @media @smartphones {
            top: 50px;
            max-height: 600px;
          }

          height: calc(~'100% - 120px');
          //border:1px solid @dotpRed;
          //border-radius: 10px;
          //height: auto;

          &.product-0 {
          }
          &.product-1 {
            //transform: translate(-500px,0);
          }
          &.product-2 {
          }

          & > .product-specs {
            height: 300px;
            opacity: 1;
            //position: relative;

          }

          & > img {
            //display: inline-block;
            //min-width: 300px;
            width: 100%;
            height: 100%;
            max-width: 500px;
            max-height: 500px;
            @media @smartphones {
              max-width: 240px;
              max-height: 240px;
            }
            //border: none;

          }
        }
      }
    }
  }

    li.cart-item {
      text-align: center;
    background-color: #f7f5f6;
    color: @dark-font;
    filter: drop-shadow(-3px 3px 0px #df5244);

      i.fa.fa-times {
        color: #df5244;
        cursor: pointer;
      }
    }

     .open-cart, #close-cart, .open-checkout, .close-checkout, .product-add-to-cart {
       &:extend(.podcast-actions button);
     }
     .open-cart, #close-cart {
     	 float: right;
     	 margin: 0 0 15px 15px;
     }

     .open-checkout {
       font-size: 2em !important;
       text-align: center;
       margin: 0 auto;

       @media @smartphones {
         font-size: 1em;
       }
     }
   }
}

.hidden {
  display: none !important;
}

.form-control {
    display: block;
    width: calc(~'100% - 26px');
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.product {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 480px;
  height: 480px;
  margin: 10px;
  border: 2px solid @dark-font;
  border-radius: 10px;


  @media @smartphones {
    max-width: 280px;
    max-height: 280px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  opacity: 1;
  transition: all 0.4s ease;


    &.product-0 {
      top: 55px;
      left: 0;
      position: absolute;
      @media @smartphones {
        top: 55px;
      }
    }
    &.product-1 {
      top: 55px;
      right: 0;
      position: absolute;
      @media @smartphones {
        top: 365px;
      }
    }
    &.product-2 {
      bottom:55px;
      left: 0;
      position: absolute;
      @media @smartphones {
        top: 675px;
      }
    }

  &:hover {
    filter: drop-shadow(-8px 0px 4px @dotpRed) drop-shadow(8px 0px 4px @dotpRed);
    //filter: drop-shadow(7px 7px 20px @dotpRed) drop-shadow(-7px 7px 20px @dotpRed) drop-shadow(0px -7px 20px @dotpRed);
  }

	&:last-child {
		padding-bottom: 50px;
	}

	& > .product-specs {
    opacity: 0;
    width: 0;
    transition: all 0.4s ease;
		text-align: center;
    margin: 0 auto;

    width: 500px;
    max-width: 100%;
    height: 0;

		display: flex;
		flex-direction: column;

		& > div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
		}

		& > .product-add-to-cart {
		    cursor: pointer;
		}

    & > .product-text {
      & > select {
        cursor: pointer;
      }
    }
	}

	&  img {
    max-width: 480px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
    box-sizing: border-box;
    margin: 0 auto;
    //display: inline-block;
    @media @smartphones {
    min-width: 240px;
    min-height: 240px;
      //display: inline-block;
      margin: 0 auto;
    }
	}
}
