//breakpoints
@smartphones: ~"only screen and (max-width: 830px)";
@tablet: ~"only screen and (max-width: 1130px) and (min-width: 831px)";
@fullScreen: ~"only screen and (min-width: 1131px)";
@transition: all 0.2s ease-in-out;
@margin-bottom: 125px;

//
@background-dark: #2D2D2A;
@background-light: #fafafa;
@main-font-family: 'Constantia', serif;
@main-font-weight:600;
@main-letter-spacing: 0.02em;
@main-font-color: #E8DEE2;
@dark-font: #21211F;
// @bgPattern: url("../images/txture.png");
// @dotpRed: #870D0D;
@dotpRed: #be1823;
@dotpOutline: #241a18;
@dotpOrange: #f36820;
@dotpBlue: #090C9B;
@dotpRedHover: rgba(221, 73, 61, 0.55);

// @navPattern: url("../images/debut-dark.png");
@navElemColor: #fff;
@navPattern: url("https://www.transparenttextures.com/patterns/assault.png");
@navFontSize: 1.0em;
@navFontTextShadow: -1px 2px 3px rgba(0, 0, 0, 1);
@navFontColor: #e8dee2;
@navPadding: 0.8em;
@padding: 1em;
// Nav skewing
@skewSheerAngle: 5deg;
@skewPartialAngle: 15deg;
@skewAngle: 40deg;
@navBg: rgba(34, 34, 37, 1);
@navHighlight: lighten(@navBg, 7%);
@navHover: lighten(saturate(@navBg, 10%), 17%);
@navBorder: 1px solid lighten(@navBg,25%);
@navBorderDark: 1px solid darken(@navBg,25%);
@navBottomBorder: 1px solid lighten(@navBg,25%);
@navColor: lighten(@navBg, 40%);

//main items
@cardBg: #101116;
@brightCard: lighten(@cardBg, 10%);
@darkCard: darken(@cardBg, 10%);

//pagination
@right-bump: right-bump 0.4s ease;
@left-bump: left-bump 0.4s ease;



// keyframes
@keyframes right-bump {
  0% { margin-left: 0; }
  50% { margin-left: 10px; }
  100% { margin-left: 0; }
}
@keyframes left-bump {
  0% { margin-right:0; }
  50% { margin-right: 10px; }
  100% { margin-right: 0; }
}
@font-face {
  font-family: 'Constantia';
  src: url('../fonts/Constantia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


