@background-dark: #12191F;
@background-light: #3B4D59;
@main-font-family: 'Constantia, Arial, sans-serif';
@bgPattern: url("../images/txture.png");
// @navPattern: url("../images/debut-dark.png");
@navPattern: url("https://www.transparenttextures.com/patterns/assault.png");
@navFontSize: 1.0em;
@navFontTextShadow: -1px 2px 3px rgba(0, 0, 0, 1);
@navFontColor: #9DA4AA;
@padding: 1em;
// Nav skewing
@skewAngle: 20deg;
@navBg: rgba(34, 34, 37, 1);
@navHighlight: lighten(@navBg, 7%);
@navHover: lighten(saturate(@navBg, 10%), 17%);
@navBorder: 2px solid lighten(@navBg,25%);
@navBorderDark: 2px solid darken(@navBg,25%);
@navColor: lighten(@navBg, 40%);
