<div id="about-wrapper">
  <nav>
    <div class="about-spacer"></div>
    <div class="about-nav active">DotP</div>
    <div class="about-nav">Roland</div>
    <div class="about-nav">Cyphus</div>
    <div class="about-nav">Ursinity</div>
    <div class="about-nav">Proud</div>
    <div class="about-nav">BreakyCPK</div>
    <div class="about-spacer"></div>
  </nav>

  <div class="about-page active">
    <span>Content area starts here and extends down and right</span></br>
    <span>Items on the left will use some type of images (round?) and will indicate which section you are looking at.</span></br>
    <span>Loading between main nav sections will trigger the loading transition. Not sure if switching between about sections will just slide or use the animation.</span>

  </div>
  <div class="about-page">
    Text Here
  </div>
  <div class="about-page">
    Text Here
  </div>
  <div class="about-page">
    Text Here
  </div>
  <div class="about-page">
    Text Here
  </div>
  <div class="about-page">
    Text Here
  </div>

    <!-- <div class="about-section">
        <h1>About the Show</h1>
        <p>Defense of the Patience is the premier Dota 2 podcast with episodes released five days a week focusing on a variety of Dota 2 topics and strategies as well as featuring guests from all throughout the Dota 2 community.  DotP was founded in August 2014 and began as a way for Roland and Cyphus to document their journey through Dota 2 after falling in love with the game earlier that summer.  As the podcast grew and reached a wider audience, Ursinity and Proud joined the roster to provide new areas of expertise and show topics.</p>
        <p>The DotP community and audience has truly been the driving force behind this project and company.  It is an exceptionally vibrant, welcoming group of Dota 2 fans that Defense of the Patience is honored to be part of.  The community continues to provide DotP with great feedback and inspiration.</p>
        <p>Our mission is to provide the best informative and entertaining Dota 2-related content possible for our audience and community to continue bringing together Dota 2 players from all walks of life, helping them to improve and enjoy the amazing game we all love.</p>
    </div>
    <div class="hosts-section">
        <ul>
            <li>
                <div class="cyphus-container">
                    <h4 class="cyphus">Cyphus</h4>
                    <img class="host-pic" src="../images/antiMage.png" alt="">
                    <p>Cyphus began playing Dota in June 2014.  Being a fan of strategy games like the first Sid Meier's Civilization as well as its more recent iterations, Warcraft I and II, the original StarCraft and many more between and since, as well as a fantasy RPG geek the likes of which is rarely seen, Dota 2 felt like home and offered him his first ever MOBA gaming experience.  Cyphus is still bad at Dota 2 several years, several thousand hours of playing, and several hundred podcasting hours spent talking about Dota 2 later.  Cyphus has a bachelor of science degree in psychology with a minor in communication.  He contemplates going back to graduate school constantly to pursue a PhD in psychology as he loves the field and research, but then he thinks about how little time he'd have to play Dota.</p>
                    <p>Cyphus has over a decade of experience in technical writing, project management and overseeing electronic, mechanical and aviation engineering efforts.  When not playing Dota 2, you can find him out in the black in Elite: Dangerous flying in his Cobra Mk III even though everyone keeps telling him that ship is garbage and he's sitting on a half billion credits.</p>
                </div>
            </li>
            <li>
                <div class="roland-container">
                    <h4 class="roland">Roland</h4>
                    <img class="host-pic" src="../images/naturesProphet.png" alt="">
                    <p>Roland began playing Dota in May 2014.  He was a diamond tier StarCraft II player who mistakenly believed that his micro skills from StarCraft would equate to him being an awesome Meepo player.  Many MMRs were needlessly lost conducting this research.  Roland has never loved a game or woman the way he loves Dota 2.  Just ask his wife.  Roland is, by his own estimation, the best Dota 2 player the world has ever seen and certainly the best Dota 2 player at Defense of the Patience.  This is proven by the aforementioned extensive Meepo testing, a whiffed Enigma Black Hole that resulted in him never playing Enigma again in the past two years, and a Dagon-first rush on Nature's Prophet in the jungle.  You mistakenly believe that Dagon-first means he bought boots and regen first, naturally, then rushed the Dagon.  Silly you.</p>
                    <p>Roland loves drinking Red Bull and eating Chik-Fil-A and giving them free advertising despite the fact that neither company pays us for this free publicity nor does he agree with some of their corporate, political stances.  This is what makes him such a complex man.  He spends his days being disappointed that his infant son isn't at least 3k MMR yet, annoying his wife and bringing the hype to Defense of the Patience.</p>
                </div>
            </li>
        </ul>
    </div> -->

</div>
