<div id="about-wrapper">
	<div class="about-page active">
  	<div class="host-card" >
    <h1 class="roland shimmer">Roland</h1>
    <social-links links="rolandSocialLinks"></social-links>
    <div class="about-content">
      <div class="about-left">
        <img class="host-pic" src="../images/naturesProphet.png" alt="">
      </div>
      <div class="about-right">
        <p>Roland began playing Dota in May 2014.  He was a diamond tier StarCraft II player who mistakenly believed that his micro skills from StarCraft would equate to him being an awesome Meepo player.  Many MMRs were needlessly lost conducting this research.  Roland has never loved a game or woman the way he loves Dota 2.  Just ask his wife.  Roland is, by his own estimation, the best Dota 2 player the world has ever seen and certainly the best Dota 2 player at Defense of the Patience.  This is proven by the aforementioned extensive Meepo testing, a whiffed Enigma Black Hole that resulted in him never playing Enigma again in the past two years, and a Dagon-first rush on Nature's Prophet in the jungle.  You mistakenly believe that Dagon-first means he bought boots and regen first, naturally, then rushed the Dagon.  Silly you.</p>
        <p>Roland loves drinking Red Bull and eating Chik-Fil-A and giving them free advertising despite the fact that neither company pays us for this free publicity nor does he agree with some of their corporate, political stances.  This is what makes him such a complex man.  He spends his days being disappointed that his infant son isn't at least 3k MMR yet, annoying his wife and bringing the hype to Defense of the Patience.</p>
      </div>
    </div>
  </div>
  <div id="about-cyphus" class="host-card">
    <h1 class="cyphus shimmer">Cyphus</h1>
    <social-links links="cyphusSocialLinks"></social-links>
    <div class="about-content">
      <div class="about-left">
        <img class="host-pic" src="../images/antiMage.png" alt="">
      </div>
      <div class="about-right">
        <p>Cyphus began playing Dota in June 2014.  Being a fan of strategy games like the first Sid Meier's Civilization as well as its more recent iterations, Warcraft I and II, the original StarCraft and many more between and since, as well as a fantasy RPG geek the likes of which is rarely seen, Dota 2 felt like home and offered him his first ever MOBA gaming experience.  Cyphus is still bad at Dota 2 several years, several thousand hours of playing, and several hundred podcasting hours spent talking about Dota 2 later.  Cyphus has a bachelor of science degree in psychology with a minor in communication.  He contemplates going back to graduate school constantly to pursue a PhD in psychology as he loves the field and research, but then he thinks about how little time he'd have to play Dota.</p>
        <p>Cyphus has over a decade of experience in technical writing, project management and overseeing electronic, mechanical and aviation engineering efforts.  When not playing Dota 2, you can find him out in the black in Elite: Dangerous flying in his Cobra Mk III even though everyone keeps telling him that ship is garbage and he's sitting on a half billion credits.</p>
      </div>
    </div>
  </div>
  <!-- <div id="about-ursi" class="about-page" ng-class="vm.getActiveState('ursi')" > -->
  <div id="about-ursi" class="host-card">
    <h1 class="cyphus shimmer">Ursinity</h1>
    <social-links links="ursiSocialLinks"></social-links>
    <div class="about-content">
      <div class="about-left">
        <img class="host-pic" src="../images/Kpop.png" alt="">
      </div>
      <div class="about-right">
        <p>Ursinity has played dota on-and-off since middle school when he started to realize his complete inability to play RTS games despite his love of Warcraft III and Starcraft 2. Despite taking breaks to play hardcore PvE World of Warcraft and a variety of terrible free-to-play MMOs, once he got into the Dota 2 beta in January, 2012 he has finally settled down. Drifting from core player to support player to everything in between has lent itself to a varied hero pool and the ability to empathize with the manifold frustrations of all kinds of Dota 2 players. Ursinity is currently in a graduate program studying education with a completed bachelor’s degree in history looking to teach middle school or high school in the future while working for a sports memorabilia company in the meantime.</p>
        <p>Other than Dota, Ursinity spends his time playing RPGs, listening to Korean pop music, watching Korean variety shows and dramas, reading or watching guilty pleasure supernatural romance novels/shows, and talking about the aforementioned to anyone who will listen (and even those unwilling to listen).</p>
      </div>
    </div>
  </div>
  <div id="about-proud" class="host-card">
    <h1 class="cyphus shimmer">Proud</h1>
    <social-links links="proudSocialLinks"></social-links>
    <div class="about-content">
      <div class="about-left">
        <img class="host-pic" src="../images/DarkSouls.jpg" alt="">
      </div>
      <div class="about-right">
        <p>Proud is a sad, angry, bitter man. He also may or may not be aware of Demon Souls, the first of the Souls series.</p>
      </div>
    </div>
  </div>
  <div id="about-breaky" class="host-card">
    <h1 class="cyphus shimmer">BreakyCPK</h1>
    <social-links links="breakySocialLinks"></social-links>
    <div class="about-content">
      <div class="about-left">
        <img class="host-pic" src="../images/breakycpk.jpg" alt="">
      </div>
      <div class="about-right">
        <p>BreakyCPK is a dope caster. He talks to people.</p>

      </div>
    </div>
  </div>
  </div>

    <!-- <div class="about-section">

    </div>
    <div class="hosts-section">
        <ul>
            <li>
                <div class="cyphus-container">

                </div>
            </li>
            <li>
                <div class="roland-container">

                </div>
            </li>
        </ul>
    </div> -->

</div>
