<div id="about-wrapper">
 <div class="giveaway"><a class="contest-link" href="/1080giveaway">Click here to enter our GTX1080 giveaway!</a></div>
	<div id="about-dotp" class="about-page">
		<h1 class="shimmer">Defense of the Patience</h1>
    <p>Defense of the Patience is the premier Dota 2 podcast with episodes released five days a week focusing on a variety of Dota 2 topics and strategies as well as featuring guests from all throughout the Dota 2 community.  DotP was founded in August 2014 and began as a way for Roland and Cyphus to document their journey through Dota 2 after falling in love with the game earlier that summer.  As the podcast grew and reached a wider audience, Ursinity and Proud joined the roster to provide new areas of expertise and show topics.</p>
    <p>The DotP community and audience has truly been the driving force behind this project and company.  It is an exceptionally vibrant, welcoming group of Dota 2 fans that Defense of the Patience is honored to be part of.  The community continues to provide DotP with great feedback and inspiration.</p>
    <p>Our mission is to provide the best informative and entertaining Dota 2-related content possible for our audience and community to continue bringing together Dota 2 players from all walks of life, helping them to improve and enjoy the amazing game we all love.</p>
	</div>
</div>
