<!-- 
<style>	
	#ladder {	
		font-family: "Impact",sans-serif;	 
		border-collapse: collapse;	 	
		width: 100%;	 	
		text-align: center;	 	
	}	 	
	#ladder td { font-family: "Impact",sans-serif;	 
		font-size: 1.5em;
		border: none;	 	
	}	 	
	#ladder tr:hover{background-color: #f5f5f5}	 
	#ladder a:link    {color:#999999; background-color:transparent; text-decoration:none}
	#ladder a:visited {color:#999999; background-color:transparent; text-decoration:none}
	#ladder a:hover   {color:#999999; background-color:transparent; text-decoration:underline}
	#ladder a:active  {color:#999999; background-color:transparent; text-decoration:underline}
}
</style> -->

<div class="main-wrapper">
	<div>
		<h1>Rules</h1>
			<h2>Format</h2>
			<p>
				Every week on Wednesday starting at 9:00pm Eastern Time(USA) there will be (up to) 9 games that count towards our ladder (3 concurrent lobbies with 3 games each). Lobby 3 will be reserved for high skill players(4k+) while lobbies 1 and 2 will be for under 4k players. Once you have played in a game each night you are required to defer your spot in the following games to other players unless no other players are waiting to play. 
			</p>
			<h2>Game Ruleset</h2>
			<p>
				<span>Mode:</span> Captains Mode
				<span>Server:</span> Lobbies must be USEast to make the games fair to both European friends and West Coasters. The server may be changed if both teams agree.<br>
				The lobby names will be DotP Inhouse #1 and DotP Inhouse #2 and the password will be dotp<br>
				<span>Advanced Settings:</span>	No Cheats, Public Visibility, Starting team(First Pick) Random, No Penalties, No Leagues(for now), Spectators Enabled, 2 minutes DotATV delay, Unlimited Pauses, No Series<br>
				<span>Communication:</span> All Players are required to use the <a href="https://discord.gg/dotp">DotP Discord</a> You can either run this through a web browser or download the app (recommended)  at <a href="www.discordapp.com">Discord</a>
			</p>
			<h2>Seasons</h2>
			<p>
				Every 3 months we will be resetting the DotPoints™ Ladder rankings and at the end of the season several prizes will be handed out in the form of steam gift cards<br>
				Players start with 1000 DotPoints™ Winning a game will Move your DotPoints™ up by 50 and losing will move them down by 50. Teams will be balanced by auto-balance with lobby host discretion.
			</p>
			<h2>Conduct</h2>
			<p>
				The most important thing about these in houses is to have fun and while we’re aware winning is fun to some people keep a few things in mind:
				<ol>
					<li>Do not Rage or Flame your teammates (Doing this will result in a single warning followed by a league ban)</li>
					<li>Don’t hog captains chair<br></li>
					<li>Be communicative with your team over picks/bans</li>
				</ol>
			</p>
			<h2>Stream</h2>
			<p>
				Admins will choose a lobby to <a href="https://www.twitch.tv/dotptv">stream</a> for each set of games and will usually be based around which games have the most new blood.
			</p>
			<h2>Prizes</h2>
			<p>
				5 20$ steam gift cards and 1 50$ steam gift will be raffled off at the end of the season with “raffle tickets” being determined by the number of games you play.<br>
				The person on top of the leaderboard at the end of each season will have a different color for their name on the leaderboard for following seasons.
			</p>
	</div>
	<ul id="ladder-records">
		
		<li class="records-header flex-parent">
			<div id="players-header" class="records-column-main">
				Players
			</div>
			<div class="records-column-alt">
				<div id="wins-header" class="records-column">
					Wins
				</div>
				<div id="losses-header" class="records-column">
					Losses
				</div>
				<div id="players-header" class="records-column">
					Points
				</div>
			</div>
		</li>
		<li ng-repeat="player in vm.ladder.players" style="font-family: 'Constantia, Arial, sans-serif'" class="player flex-parent">
			<div class="name records-column-main">
				<a style="color:{{::player.color}}" ng-href="http://www.dotabuff.com/players/{{::player.playerId}}">{{::player.nickName}}</a>
			</div>
			<div class="records-column-alt">
				<div class="wins records-column records-highlight">
					{{::player.wins}}
				</div>
				<div class="losses records-column">
					{{::player.losses}}
				</div>
				<div class="points records-column">
					{{::player.points}}
				</div>
			</div>
		</li>
	</ul>
	<!-- <div class="">
		<div class="entry-content">

			<div id="expanding">
				<h1>Rules</h1>
				<p>
					Format-<br>
					Every week on Wednesday starting at 9:00pm Eastern Time(USA) there will be (up to) 9 games that count towards our ladder (3 concurrent lobbies with 3 games each). Lobby 3 will be reserved for high skill players(4k+) while lobbies 1 and 2 will be for under 4k players. Once you have played in a game each night you are required to defer your spot in the following games to other players unless no other players are waiting to play. 
				</p>
				<p>
					Game Ruleset-<br>
					Mode:<br>
					Captains Mode<br>
					Server:<br>
					Lobbies must be USEast to make the games fair to both European friends and West Coasters. The server may be changed if both teams agree.<br>
					The lobby names will be DotP Inhouse #1 and DotP Inhouse #2 and the password will be dotp<br>
					Advanced Settings:<br>
					No Cheats, Public Visibility, Starting team(First Pick) Random, No Penalties, No Leagues(for now), Spectators Enabled, 2 minutes DotATV delay, Unlimited Pauses, No Series<br>
					Communication:<br>
					All Players are required to use discord <a href="https://discord.gg/dotp">https://discord.gg/dotp</a> You can either run this through a web browser or download the app (recommended)  at <a href="www.discordapp.com">www.discordapp.com</a>
				</p>
				<p>
					Seasons-<br>
					Every 3 months we will be resetting the DotPoints™ Ladder rankings and at the end of the season several prizes will be handed out in the form of steam gift cards<br>
					Players start with 1000 DotPoints™ Winning a game will Move your DotPoints™ up by 50 and losing will move them down by 50. Teams will be balanced by auto-balance with lobby host discretion.
				</p>
				<p>
					Conduct-<br>
					The most important thing about these in houses is to have fun and while we’re aware winning is fun to some people keep a few things in mind:<br>
					Do not Rage or Flame your teammates (Doing this will result in a single warning followed by a league ban)<br>
					Don’t hog captains chair<br>
					Be communicative with your team over picks/bans
				</p>
				<p>
					Stream-<br>
					Admins will choose a lobby to <a href="https://www.twitch.tv/dotptv">stream</a> for each set of games and will usually be based around which games have the most new blood.
				</p>
				<p>
					Prizes-<br>
					5 20$ steam gift cards and 1 50$ steam gift will be raffled off at the end of the season with “raffle tickets” being determined by the number of games you play.<br>
					The person on top of the leaderboard at the end of each season will have a different color for their name on the leaderboard for following seasons.
				</p>
			</div>

			<div class="clear"></div>
		</div>
	</div> -->
	<!-- <div id="ladder-records" class="records-color">
		<div class="records-header flex-parent">
			<div id="players-header" class="records-column-main">
				Players
			</div>
			<div class="records-column-alt">
				<div id="wins-header" class="records-column records-highlight">
					Wins
				</div>
				<div id="losses-header" class="records-column">
					Losses
				</div>
				<div id="players-header" class="records-column">
					Points
				</div>
			</div>
		</div>
		<div ng-repeat="player in vm.ladder.players" style="font-family: 'Constantia, Arial, sans-serif'" class="player flex-parent">
			<div class="name records-column-main">
				<a style="color:{{::player.color}}" ng-href="http://www.dotabuff.com/players/{{::player.playerId}}">{{::player.nickName}}</a>
			</div>
			<div class="records-column-alt">
				<div class="wins records-column records-highlight">
					{{::player.wins}}
				</div>
				<div class="losses records-column">
					{{::player.losses}}
				</div>
				<div class="points records-column">
					{{::player.points}}
				</div>
			</div>
		</div>
	</div> -->
</div>
