<div class="ladder-content">
	<h1 class="shimmer">Rules</h1>
		<h2>Format</h2>
		<p>
			Every week on Wednesday starting at 9:00pm Eastern Time(USA) there will be (up to) 9 games that count towards our ladder (3 concurrent lobbies with 3 games each). Lobby 3 will be reserved for high skill players(4k+) while lobbies 1 and 2 will be for under 4k players. Once you have played in a game each night you are required to defer your spot in the following games to other players unless no other players are waiting to play.
		</p>
		<h2>Game Ruleset</h2>
		<ul>
			<li><span>Mode:</span> Captains Mode</li>
			<li>
				<span>Server:</span> Lobbies must be USEast to make the games fair to both European friends and West Coasters. The server may be changed if both teams agree.<br>
			The lobby names will be DotP Inhouse #1 and DotP Inhouse #2 and the password will be dotp<br>
			</li>
			<li>
				<span>Advanced Settings:</span>	No Cheats, Public Visibility, Starting team(First Pick) Random, No Penalties, No Leagues(for now), Spectators Enabled, 2 minutes DotATV delay, Unlimited Pauses, No Series<br>
			</li>
			<li>
				<span>Communication:</span> All Players are required to use the <a href="https://discord.gg/dotp">DotP Discord</a> You can either run this through a web browser or download the app (recommended)  at <a href="www.discordapp.com">Discord</a>
			</li>
		</ul>
		<h2>Seasons</h2>
		<p>
			Every 3 months we will be resetting the DotPoints™ Ladder rankings and at the end of the season several prizes will be handed out in the form of steam gift cards<br>
			Players start with 1000 DotPoints™ Winning a game will Move your DotPoints™ up by 50 and losing will move them down by 50. Teams will be balanced by auto-balance with lobby host discretion.
		</p>
		<h2>Conduct</h2>
		<p>
			The most important thing about these in houses is to have fun and while we’re aware winning is fun to some people keep a few things in mind:
			<ol>
				<li>Do not Rage or Flame your teammates (Doing this will result in a single warning followed by a league ban)</li>
				<li>Don’t hog captains chair</li>
				<li>Be communicative with your team over picks/bans</li>
			</ol>
		</p>
		<h2>Stream</h2>
		<p>
			Admins will choose a lobby to <a href="https://www.twitch.tv/dotptv">stream</a> for each set of games and will usually be based around which games have the most new blood.
		</p>
		<h2>Prizes</h2>
		<p>
			5 $20 steam gift cards and 1 $50 steam gift will be raffled off at the end of the season with “raffle tickets” being determined by the number of games you play.<br>
			The person on top of the leaderboard at the end of each season will have a different color for their name on the leaderboard for following seasons.
		</p>
		<table class="ladder-table">
			<thead>
				<tr>
					<th>Players</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in vm.ladder.players">
					<td>
						<a style="{{::player.nameStyle}}" ng-href="{{::player.link}}">{{::player.nickName}}</a>
					</td>
					<td>
						{{::player.wins}}
					</td>
					<td>
						{{::player.losses}}
					</td>
					<td>
						{{::player.points}}
					</td>
				</tr>
			</tbody>
		</table>
</div>

