<div class="player-wrapper" ng-class="{ 'open': vm.getPodcastButtonState() }" ng-click="vm.isOpen = false">
	<div class="player" ng-class="{ 'show-player': vm.isPlaying }">
		<div class="podcast-title">
			{{vm.config.title}}
		</div>
		<div class="videogular-container">
			<videogular vg-player-ready="vm.onPlayerReady($API)" vg-can-play="vm.canPlay()" vg-complete="vm.onComplete()" vg-theme="vm.config.theme" class="audio" ng-click="$event.stopPropagation()">
				<vg-media vg-src="vm.config.sources"vg-type="audio"></vg-media>
				<vg-controls>
					<div id="control-top">
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
							<vg-scrub-bar-buffer></vg-scrub-bar-buffer>
						</vg-scrub-bar>
					</div>
					<div id="control-mid">
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display class="time-holder">
							{{ currentTime | millSecondsToTimeString }} / {{ totalTime | millSecondsToTimeString }}
						</vg-time-display>
						<vg-volume>
							<vg-volume-bar></vg-volume-bar>
						</vg-volume>
					</div>
				</vg-controls>
			</videogular>
		</div>
	</div>
</div>
