<div class="player-wrapper">
    <div class="player">
        <div class="videogular-container">
            <videogular vg-theme="vm.config.theme">
    			<vg-media vg-src="vm.config.sources"
    					vg-tracks="vm.config.tracks">
    			</vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
    		</videogular>
        </div>
    </div>
    <div id="page-mini-actions">
        <div id="prev">
            <a ng-href="{{vm.links.prev}}" ng-click="vm.links.goPrev()">
                <div class="prev-text">Previous</div>
                <i class="fa fa-chevron-left fa-2x"></i>
            </a>
        </div>
        <div id="next">
            <a ng-href="{{vm.links.next}}" ng-click="vm.links.goNext()">
                <i class="fa fa-chevron-right fa-2x"></i>
                <div class="next-text">Next</div>
            </a>
        </div>
    </div>
</div>
