<div class="social-container">
    <span class="close" ng-click="vm.close()">
        <i class="fa fa-times-circle-o"></i>
    </span>
    <div class="left-column">
        <div class="share-links">
            <h3 class="social-header">Share us</h3>
            <ul class="link-wrapper">
                <li>
                    <a class="facebook" socialshare="" socialshare-provider="facebook" socialshare-url="http://staging-defenseofthepatience.herokuapp.com">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                </li>
                <li>
                    <a class="twitter" socialshare="" socialshare-provider="twitter" socialshare-text="" socialshare-url="http://staging-defenseofthepatience.herokuapp.com" socialshare-hashtags="">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                </li>
                <li>
                    <a class="reddit" socialshare="" socialshare-provider="reddit" socialshare-text="" socialshare-url="http://staging-defenseofthepatience.herokuapp.com">
                        <i class="fa fa-reddit"></i>  Reddit
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="middle-column">
        <div class="community-links">
            <h3 class="social-header">Connect with us</h3>
            <ul class="link-wrapper">
                <li>
                    <a class="youtube" href="https://www.youtube.com/channel/UCW2NOXbujybzWHrJUEAXk8Q" target="_blank">
                        <i class="fa fa-youtube"></i> Youtube
                    </a>
                </li>
                <li>
                    <a class="twitch" href="https://www.twitch.tv/dotptv" target="_blank">
                        <i class="fa fa-twitch"></i> Twitch
                    </a>
                </li>
                <li>
                    <a class="discord" href="https://discord.gg/dotp" target="_blank">
                        <i class="discord-icon"></i> Discord
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-column">
        <div class="support-links">
            <h3 class="social-header">Support us</h3>
            <ul class="link-wrapper">
                <li>
                    <a class="patreon" href="https://www.patreon.com/defenseofthepatience" target="_blank">
                        <i class="patreon-icon"></i> Patreon
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
