<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" href="/">client</a>
      </div>

      <div class="collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a ng-href="/about">About</a></li>
          <li>
              <a ng-if="!vm.user" ng-href="/login">Login</a>
              <a ng-if="vm.user" ng-href="/login">{{vm.user.displayName || vm.user.email}}</a>
          </li>
          <li ng-if="vm.user"><a ng-click="vm.signOut()" ng-href="/">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
