<div class="titlebar-container">
	<player-container></player-container>
	<nav class="navbar-full" role="navigation">
		<ul ng-class="{ 'collapsed': vm.isCollapsed }">
			<li class="title-bar-logo">
      	<img src='../images/dotp-logo-notext-01.svg'/>
    	</li>
			<li class="title-bar-nav">
        <a class="nav-link" ui-sref="root.episodes" ng-click="vm.slideNavPanel = false">
          <span>Episodes</span>
        </a>
			</li>
			<li class="title-bar-nav">
        <a class="nav-link" ui-sref="root.store">
          <span>Store</span>
        </a>
      </li>
			<li class="title-bar-nav">
        <a class="nav-link" ui-sref="root.hosts" ng-click="vm.slideNavPanel = false">
          <span>Hosts</span>
        </a>
			</li>
			<li class="title-bar-nav">
        <a class="nav-link" ui-sref="root.ladder">
          <span>Ladder</span>
        </a>
			</li>
    </ul>
	</nav>
	<social-links links="dotpSocialLinks"></social-links>
  <navbar></navbar>
</div>
